<!DOCTYPE html>
<html>
  <head>
  </head>
<body>
<div id="app">
  <div>
    <b-list-group>
        <template v-for="(shumokudata, shumoku) in all">
          <template v-for="(kumidata, kumi) in shumokudata">
            <b-list-group-item>{{ shumoku }} {{ kumi }}組</b-list-group-item>
            <b-list-group-item v-for="dat in kumidata">{{ dat.name }}</b-list-group-item>
          </template>
        </template>
    </b-list-group>
  </div>
</div>

  
<!-- Load required Bootstrap and BootstrapVue CSS -->
<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

<!-- Load polyfills to support older browsers -->
<script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>

<!-- Load Vue followed by BootstrapVue -->
<script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

<!-- Load the following for BootstrapVueIcons support -->
<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
  <script src="script.js"></script>
  </body>
</html>
